include ../checkbox/checkbox.pug

mixin dropdown(items,type)
    select(id="dropdown")
        //- .test-wrap   
        //-     +checkbox(items)
    
            //- if type="checkboxList"
            //-     +checkbox(items)
            //- else
               