include ../checkbox/checkbox.pug

mixin dropdown-list({text,type,item})
    div(for="some-id" class="some-label" id="label")
        div(class="some-select" id="some-id") Выбери
        div(class="some-options") здесь буду опции
            if type==="checkbox-list"
                +checkbox(item)