mixin dropdown-list()
    label(for="some-id" class="some-label" id="label")
        select(id="some-id")
            option first
            option second
            option third
    //- label(for="second-id" class="label")
    //-     select(id="second-id")
    //-         option first
    //-         option second
    //-         option third        