@import "../../variables";
@import "../../mixin";

#some-id {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* remove default arrow */
  /*  background-image: url(...);  */ /* add custom arrow */
}

.some-label {
  position: relative;
}

#some-id {
  /* border: none; */
  position: relative;
}

.some-select {
  border: 1px solid gold;
  padding: 5px;
  &::after {
    content: "";
    border: 4px solid $dark-25;
    position: absolute;
    top: 5px;
    right: 26px;
    pointer-events: none;
    transform: rotate(45deg);
  }
  &::before {
    content: "";
    border: 4px solid white;
    position: absolute;
    top: 2px;
    right: 26px;
    pointer-events: none;
    transform: rotate(45deg);
    z-index: 2;
  }
}

.some-options {
  border: 1px solid red;
  display: none;
  &_open {
    display: block;
  }
}
