include ../checkbox/checkbox.pug

mixin dropdown-list({text,type,item})
    div(for="dropdown-list" class="dropdown-list" id="label")
        div(class="dropdown-list__select" id="dropdown-list") #{text}
        div(class="dropdown-list__options")
            if type==="checkbox-list"
                +checkbox(item)