.br-widget {
  white-space: nowrap;
  display: flex;
}
.br-widget a {
  display: block;
  height: 24px;
  width: 24px;
  text-decoration: none;
  padding: 2px;
}
.br-widget a:after {
  content: "";
  padding: 0px 0px 6px 20px;
  background-image: url(/assets/img/star-button/star_transparent.svg);
  background-repeat: no-repeat;
}
.br-widget a.br-active:after {
  background-image: url(/assets/img/star-button/star_colored.svg);
}
.br-widget a.br-selected:after {
  background-image: url(/assets/img/star-button/star_colored.svg);
}
.br-widget .br-current-rating {
  display: none;
}
/*
.br-readonly a {
  cursor: default;
}
@media print {
  .br-widget a:after {
    content: "\f006";
    color: black;
  }
  .br-widget a.br-active:after,
  .br-widget a.br-selected:after {
    content: "\f005";
    color: black;
  }
} */
