//- include ../like-butoon/like-butoon

mixin review()
    div(class="review-item")
        div(class="review-header")
            img
            p
                span(class="review-header__name")
                span(class="review-header__date")
        div(class="review-desc")
            +like-button("post",12)
            p(class="review-desc__date")