include ../select-guest/select-guest.pug
include ../button/button.pug

mixin searchbox()
    div(class="searchbox searchbox__wrap")
        h1(class="searchbox__title") Найдём номера под ваши пожелания
        form(class="searchbox__form")
            +select-guest(selectGuest)
            +button({isColored:true,title:"Подобрать номер",size:"big"})
      
        
