include ../calendar/calendar
include ../select-items/select-guest
include ../button/button

//- -
//-     const selectGuest={size:"big",type:"guest",items:[{text:"взрослые",mincount:"1"},{text:"дети"},{text:"малыши"}],title:""}
mixin searchbox()
    div(class="searchbox searchbox__wrap")
        h1(class="searchbox__title") Найдём номера под ваши пожелания
        form(action="#" method="POST" class="searchbox__form")
            +calendar({type:"group-range",titleGroup:["прибытие","выезд"]})
            +select-guest({})
            +button({isColored:true,size:"big",title:"подобрать номер",isArrowButton:true})