@import "../../variables";
@import "../../mixin";

.searchbox {
  width: 380px;
  display: flex;
  background-color: $white;
  /* flex-direction: column; */
  flex-wrap: wrap;
  //вынести в переменную
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__wrap {
    padding: 40px 30px 30px 30px;
  }
  &__title {
    /*   width: 80%; */
    margin: 0 0 20px 0;
    @include text($font-eng, 24px, 700, $dark);
    line-height: 30px;
    letter-spacing: 1.2px;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & .calendar_type_range {
      margin-bottom: 23px;
    }
    & .select-items {
      margin-bottom: 32.44px;
    }
  }
}
