include ./select-items.pug

-
    var btn_clear = {title:text_clear||"очистить",isTextButton:true,isTextColored:true,className:"button_clear" }
    var btn_apply = {title:text_apply||"применить",isTextButton:true,isTextColored:true,className:"button_accept"} 
    
                   

mixin select-guest({text="гости",size="big"})
    -
        const select={id:"guest", 
                        text:`${text}`,
                        size:`${size}`,
                        items:[{text:"взрослые"},{text:"дети"},{text:"младенцы"}],
                        title:"Сколько гостей",hasControlButtons:true,btn_clear:btn_clear,btn_apply:btn_apply,hasMenu:true}
    +select-items(select)