include ./select-items.pug


                   

mixin select-amenities({text="Select Amenities",size="medium"})
    -
        const roomAmenities={id:"amenities",
                            text:`${text}`,
                            size:`${size}`,
                            items:[{text:"спальни"},{text:"кровати"},{text:"ванные комнаты"}],
                            title:"Удобства номера",hasMenu:true}
    +select-items(roomAmenities)