extends ../../../base.pug
include ../../../components/uikit-wrap/uikit-wrap.pug

-
    const CT_COLORS =[
        {COLOR:"$dark";NAME:"Dark Shade 100%" ,TEXT:"#1F2041"},
        {COLOR:"$dark-75";NAME:"Dark Shade 75%",TEXT:"#1F2041"},
        {COLOR:"$dark-50";NAME:"Dark Shade 50%",TEXT:"#1F2041"},
        {COLOR:"$dark-25";NAME:"Dark Shade 25%",TEXT:"#1F2041"},
        {COLOR:"$dark-5":;NAME:"Dark Shade 5%",TEXT:"#1F2041"},
        {COLOR:"$purple";NAME:"Purple",TEXT:"#BC9CFF"},
        {COLOR:"$green";NAME:"Green",TEXT:"#6FCF97"}
    ]

block title
    colorsType
block main
    +uikit-wrap({ isGray:false})
        div(class="colorstype colorstype__wrap")
            div(class="colorstype__column")
            - for (var i = 0; i < CT_COLORS.length; i++)
                div(class="colorstype__color" data=CT_COLORS[i].COLOR)
                span(class="colorstype__name") #{CT_COLORS[i].NAME}
                span(class="colorstype__text") #{CT_COLORS[i].TEXT}
             