include ../button/button
include ../arrow/arrow


mixin date-range-picker(btn_clear,btn_apply)
    input(class="example" type="text")
    input(class="example2" type="text")
    div(class="arrow__left")
        +arrow({isColored:true})
    div(class="arrow__right")
        +arrow({isColored:true})             