include ../button/button
include ../arrow/arrow


mixin date-range-picker(btn_clear,btn_apply)
    div(class="calender__wrap")
        div(class="entry-range__wrap")
            h3(class="entry-range__caption") Прибытие
            input(class="entry-range" type="text" placeholder="дд.мм.гг" )
        div(class="entry-range__wrap")    
            h3(class="entry-range__caption" ) Выезд
            input(class="departure-range" type="text" placeholder="дд.мм.гг") 
       
        div(class="arrow__left")
            +arrow({isColored:true})
        div(class="arrow__right")
            +arrow({isColored:true})             