//- include ../select-menu/select-menu
//- include ../button/button
//- include ../select-items/select-items
    //- три типа выпадашек:гости, кровати, чекбокс лист

//h3 по умолчанию будет включен в select-item, если вдруг заголовок не нужен, передаем пустой ""
mixin select-guest({})
    //- +select-items