@import "../../variables";
@import "../../mixin";

/* *{
outline: 1px solid gold;
}
 */
$purple-50: rgba($purple, 0.5);
$blue-50: rgba($blue, 0.5);
$gradient: linear-gradient(180deg, $purple 0%, $blue 100%);
$gradient-50: linear-gradient(180deg, $purple-50 0%, $blue-50 100%);
$height-default: 44px;

//можно вынести переменные размеров

//кнопку потом вынести отдельно
.button {
  text-decoration: none;
  border-radius: 22px;
  padding: 0px;
  /* padding: 14px 0 15px 0; */
  outline: none;
  border: 2px;
  cursor: pointer;
  background-color: $white;
  height: $height-default;
  &_size {
    &-small {
      width: 99px;
    }
    &-big {
      width: 320px;
    }
  }

  &_colored {
    border: 1px;
    background: $gradient;
    &:hover/* ,&:focus */ {
      background: $gradient-50;
    }
  }
  &_bordered {
    background: $gradient;
    &:hover {
      background: $gradient-50;
    }
    /* box-sizing: border-box;
    border-color: transparent;

    margin: 8px;
    width: 99px;
    height: 40px;
    border-width: 2px;
    border-style: solid;

    background-origin: content-box, border-box;
    background-clip: content-box, border-box;
    background-size: cover, cover; 
    background-repeat: round, round;

    border-radius: 22px;
    background-image: linear-gradient($white),
    linear-gradient(to bottom,$purple, $blue); */
  }

  /* &_bordered {
    $width-bordered:95px;
    $height-bordered:40px;
    border: 0px;
    padding: 0px;
    position: relative;
    background: white;
    width: 95px;
    height: 40px;
    
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      display: block;
      background: $gradient;
      border-radius: 26px;
      width: $width-bordered+4px;
      height:$height-bordered+4px;
      top: -2px;
      left: -2px;
    }
    &:hover {
      &::after {
        background: $gradient-50;
      }
    }
  }
 */
  &_type {
    &-text {
      :hover {
        color: $dark-50;
      }
    }
    &-arrow {
      width: 320px;
      position: relative;
      &:after {
        /* position: absolute;
        content: "";
        display: block;

        background: url("./images/arrow.svg") no-repeat top right;
        background-size: 10px 10px;
        width: 30px;
        height: 30px;
        z-index: 5;
        right: -14px;
        top: 12px; */
        content: "";
        /* border: 4px solid rgba(31, 32, 65, 0.25); */
        /*  background-image: url("./images/arrow.png"); */
        background-image: url("./images/arrow.svg");
        position: absolute;
        top: 16px;
        right: 18px;
        width: 24px;
        height: 24px;
        pointer-events: none;
      }
    }
  }

  &__text {
    @include text($font, 12px, 700, $white);
    margin: 0px;
    color: white;
    text-transform: uppercase;
    line-height: 15px;
    background-color: inherit;
    margin: 2px;
    /*    height:($height-default)-4px; */
    border-radius: 28px;
    padding: 12px 0 13px 0;
    /*   letter-spacing: 0.7px; */
    &_colored {
      color: $purple;
      background-color: white;
    }
  }
}
