.date-select {
 
    width: 150px;
    display: flex;
    flex-direction: column;
    /* width: 47%; */
  &__title {
    margin: 0;
  }
  &__select{
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
  }
}
