mixin date-select(select__title)
    div(class="date-select")
        h3(class="date-select__title") #{select__title}
        select(class="date-select__select")
            option(class="search-box__option") calendar