@import "../../variables";
@import "../../mixin";

$purple-50: rgba($purple, 0.5);
$blue-50: rgba($blue, 0.5);
$gradient: linear-gradient(180deg, $purple 0%, $blue 100%);
$gradient-50: linear-gradient(180deg, $purple-50 0%, $blue-50 100%);

.like-button {
  display: flex;
  padding: 1px 7px 2px 1px;
  letter-spacing: -0.3px;
  justify-content: space-around;
  align-items: center;
  border: solid 1px transparent;
  box-shadow: 2px 1000px 1px #fff inset;
  background: $dark-25;
  //text
  color: $purple;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  height: 20px;
  width: 40px;
  color: $dark-25;
  align-items: center;

  &__amount {
    @include text($font, 10px, 400, inherit);
    line-height: 12px;
    pointer-events: none;
  }
  &__img {
    height: 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
    width: 10px;
    height: 10px;
    pointer-events: none;
    background-image: url(../../assets/img/like-button/like-button_transparent.svg);
    background-size: 10px 10px;
  }
}

.like {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
  &:checked {
    & ~ .like-button {
      background: $gradient;
      background-origin: border-box;
      color: $purple;
    }
    & ~ .like-button .like-button__img {
      background-image: url(../../assets/img/like-button/like-button_colored.svg);
    }
  }
}
