mixin select-menu()
    div(class="iqdropdown-menu" id="iqdropdown-menu__select")
        div(class="iqdropdown-menu-option" data-id="item1")
            p(class="iqdropdown-item") Item 1
        div(class="iqdropdown-menu-option" data-id="item2")
            p(class="iqdropdown-item") Item 2
        div(class="iqdropdown-menu-option" data-id="item3")
            p(class="iqdropdown-item") Item 3