mixin select-menu()
    div(class="iqdropdown-menu" id="iqdropdown-menu__select")
        div(class="iqdropdown-menu-option" data-id="item1" data-defaultcount="0" data-mincount="1")
            p(class="iqdropdown-item") взрослые
        div(class="iqdropdown-menu-option" data-id="item2")
            p(class="iqdropdown-item") дети 
        div(class="iqdropdown-menu-option" data-id="item3")
            p(class="iqdropdown-item") младенцы