/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
h3 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #1f2041;
  /* line-height: 15px; */
  margin: 0 0 5px 0;
  text-transform: uppercase; }

span.body-text {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);
  /* line-height: 24px; */ }

h1 {
  margin: 0;
  font-family: Quicksand, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #1f2041;
  line-height: 30px;
  letter-spacing: 1.2px; }

/* * {
  outline: 1px solid gold;
} */
html {
  font-size: 12px; }

.colorstype {
  width: 120rem;
  background-color: #fff;
  /*   position: relative; */
  display: flex;
  justify-content: space-between;
  box-sizing: initial; }
  .colorstype__wrap_left {
    width: 18.7%;
    padding: 10.07% 0 8.68% 10.42%; }
  .colorstype__wrap_right {
    width: 27.99%;
    padding: 10.07% 13.26% 8.68% 0; }
  .colorstype_gray {
    background-color: #e5e5e5; }

.colors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.67rem; }
  .colors__block {
    width: 5.83rem;
    height: 5.83rem;
    border-radius: 0.5rem;
    margin-right: 3.33rem; }
    .colors__block_dark {
      background-color: #1f2041; }
    .colors__block_dark-75 {
      background-color: rgba(31, 32, 65, 0.75); }
    .colors__block_dark-50 {
      background-color: rgba(31, 32, 65, 0.5); }
    .colors__block_dark-25 {
      background-color: rgba(31, 32, 65, 0.25); }
    .colors__block_dark-5 {
      background-color: rgba(31, 32, 65, 0.05); }
    .colors__block_purple {
      background-color: #bc9cff; }
    .colors__block_green {
      background-color: #6fcf97; }
  .colors__text {
    width: 13.25rem;
    display: flex;
    flex-wrap: wrap;
    line-height: 2.42rem; }
  .colors__name {
    width: 100%;
    font-family: Quicksand, Arial, sans-serif;
    font-size: 1.58rem;
    font-weight: 700;
    color: #1f2041;
    align-self: flex-end; }
  .colors__desc {
    width: 100%;
    font-family: Quicksand, Arial, sans-serif;
    font-size: 1.58rem;
    font-weight: 400;
    color: #1f2041; }

.type {
  display: flex;
  justify-content: space-between; }
  .type__text {
    width: 100%;
    display: flex;
    margin-bottom: 4.17rem; }
    .type__text_h1 {
      font-size: 2rem; }
    .type__text_h2 {
      font-size: 19px; }
    .type__text_h3 {
      font-size: 1rem; }
    .type__text_body {
      font-size: 1.17rem;
      align-self: flex-start; }
  .type__name {
    width: 3.08rem;
    align-self: flex-start;
    text-align: right;
    font-family: Montserrat, Arial, sans-serif;
    font-size: inherit;
    font-weight: 400;
    color: rgba(31, 32, 65, 0.25);
    text-transform: uppercase;
    margin-right: 2.5rem; }
    .type__name_h1 {
      line-height: 2.42rem; }
    .type__name_h2 {
      line-height: 1.92rem; }
    .type__name_h3 {
      line-height: 1.25rem; }
    .type__name_body {
      text-transform: capitalize;
      line-height: 2rem; }
  .type__desc_h1 {
    font-family: Quicksand, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #1f2041;
    /* line-height: 30px; */
    width: 85%; }
  .type__desc_h2 {
    font-family: Quicksand, Arial, sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #1f2041;
    /* line-height: 24px; */
    width: 80%; }
  .type__desc_h3 {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #1f2041;
    /* line-height: 15px; */
    text-transform: uppercase; }
  .type__desc_body {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(31, 32, 65, 0.75);
    /* line-height: 24px; */
    width: 75%; }

/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
h3 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #1f2041;
  /* line-height: 15px; */
  margin: 0 0 5px 0;
  text-transform: uppercase; }

span.body-text {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);
  /* line-height: 24px; */ }

h1 {
  margin: 0;
  font-family: Quicksand, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #1f2041;
  line-height: 30px;
  letter-spacing: 1.2px; }

/* @font-face {
  font-family: MyriadPro-Regular;
  src: url(./fonts/MyriadPro-Regular.svg) format("svg"),
    url(./fonts/MyriadPro-Regular.ttf) format("ttf"),
    url(./fonts/MyriadPro-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Regular.svg) format("svg"), url(fonts/Montserrat-Regular.ttf) format("ttf"), url(fonts/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Bold.svg) format("svg"), url(fonts/Montserrat-Bold.ttf) format("ttf"), url(fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Quicksand;
  src: url(fonts/Quicksand-Regular.svg) format("svg"), url(fonts/Quicksand-Regular.ttf) format("ttf"), url(fonts/Quicksand-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Quicksand;
  src: url(fonts/Quicksand-Bold.svg) format("svg"), url(fonts/Quicksand-Bold.ttf) format("ttf"), url(fonts/Quicksand-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal; }

/* .title {
  display: block;
  color: rgb(197, 15, 15);
  padding: 50px;
  font-family: "MyriadPro-Regular", "Arial", sans-serif;
  font-size: 50px;
} */
/* body {
  padding: 150px 140px;
}
 */
/* * {
  outline: 1px solid gold;
} */

/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
h3 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #1f2041;
  /* line-height: 15px; */
  margin: 0 0 5px 0;
  text-transform: uppercase; }

span.body-text {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);
  /* line-height: 24px; */ }

h1 {
  margin: 0;
  font-family: Quicksand, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #1f2041;
  line-height: 30px;
  letter-spacing: 1.2px; }

.uikit-wrap {
  width: 1440px;
  background-color: #fff; }
  .uikit-wrap_gray {
    background-color: #e5e5e5; }
  .uikit-wrap__logo-icon {
    position: absolute;
    margin: 20px 0 0 20px; }

