/* @import "../../../components/range-slider/range-slider.scss"; */
@import "../../../variables";
@import "../../../mixin";
.search-room {
  width: 1440px;
  margin: 0 auto;
  &__column-left {
    margin-right: 60px;
  }
  &__wrap {
    margin: 30px 140px 70px 140px;
    display: flex;
  }
  &__title {
    @include h1-text();
  }
}

.column-left {
  width: 266px;
  & > * {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
