/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
.formElements {
  width: 1440px;
  display: flex;
  /*   pointer-events: none; */ }
  .formElements__wrap {
    padding: 140px 141px 132px 141px; }
  .formElements__column {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    width: 320px;
    /* justify-content: space-between; */ }
  .formElements__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px; }
  .formElements__text {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #1f2041;
    /* line-height: 15px; */
    margin: 0 0 5px 0;
    text-transform: uppercase; }
    .formElements__text_desc {
      margin-left: auto;
      font-family: Montserrat, Arial, sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: rgba(31, 32, 65, 0.5);
      line-height: 15px; }

.test {
  min-height: 50px;
  background-color: gold;
  position: relative; }

/* @font-face {
  font-family: MyriadPro-Regular;
  src: url(./fons/MyriadPro-Regular.svg) format("svg"),
    url(./fons/MyriadPro-Regular.ttf) format("ttf"),
    url(./fons/MyriadPro-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: Montserrat;
  src: url(images/Montserrat-Regular.svg) format("svg"), url(fonts/Montserrat-Regular.ttf) format("ttf"), url(fonts/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url(images/Montserrat-Bold.svg) format("svg"), url(fonts/Montserrat-Bold.ttf) format("ttf"), url(fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Quicksand;
  src: url(images/Quicksand-Regular.svg) format("svg"), url(fonts/Quicksand-Regular.ttf) format("ttf"), url(fonts/Quicksand-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Quicksand;
  src: url(images/Quicksand-Bold.svg) format("svg"), url(fonts/Quicksand-Bold.ttf) format("ttf"), url(fonts/Quicksand-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal; }

.title {
  display: block;
  color: #c50f0f;
  padding: 50px;
  font-family: "MyriadPro-Regular", "Arial", sans-serif;
  font-size: 50px; }

/* body {
  padding: 150px 140px;
}
 */
/* * {
  outline: 1px solid gold;
} */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
.textField {
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 0 12px 15px;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);
  /* line-height: 24px; */
  line-height: 18px; }
  .textField__wrap {
    /* max-width: 266px; */
    width: 100%;
    display: flex;
    /*  position: relative; */ }
  .textField_size-big {
    width: 320px; }
  .textField_size-medium {
    max-width: 266px;
    width: 100%; }
  .textField_size-small {
    width: 150px; }
  .textField__link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none; }
  .textField::placeholder {
    color: rgba(31, 32, 65, 0.25); }
  .textField:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
    outline: none; }
    .textField:hover::placeholder {
      color: rgba(31, 32, 65, 0.75); }
  .textField:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
    outline: none; }
    .textField:focus::placeholder {
      color: rgba(31, 32, 65, 0.75); }

/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
#drop {
  fill: rgba(31, 32, 65, 0.25); }

.select-item {
  display: flex;
  flex-direction: column; }
  .select-item__wrap {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    /*  overflow: hidden; */
    /*  border: 1px solid $dark-25;
    border-radius: 4px; */
    cursor: pointer; }
    .select-item__wrap::after {
      content: "";
      border: 4px solid rgba(31, 32, 65, 0.25);
      position: absolute;
      top: 16px;
      right: 18px;
      pointer-events: none;
      transform: rotate(45deg); }
    .select-item__wrap::before {
      content: "";
      border: 4px solid white;
      position: absolute;
      top: 14px;
      right: 18px;
      pointer-events: none;
      transform: rotate(45deg);
      z-index: 2; }
  .select-item_big {
    width: 320px; }
  .select-item_medium {
    width: 266px; }
  .select-item_small {
    width: 150px; }
  .select-item__title {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #1f2041;
    text-transform: uppercase;
    margin: 0 0 5.44px 0;
    letter-spacing: 0.5px; }
  .select-item__text {
    display: block;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(31, 32, 65, 0.75);
    letter-spacing: 0.6px;
    pointer-events: none; }
  .select-item__select {
    display: flex;
    align-items: center;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    /*   cursor: pointer; */
    width: 100%;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    pointer-events: none; }
    .select-item__select_open {
      border: 1px solid rgba(31, 32, 65, 0.5);
      border-radius: none;
      /* border-bottom: 1px solid transparent; */
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .select-item__select:hover {
      outline: none; }
    .select-item__select:focus {
      outline: none; }
    .select-item__select_date {
      text-transform: uppercase; }
    .select-item__select_guest {
      padding: 12.56px 13.44px 15px; }
  .select-item__options {
    display: none; }
    .select-item__options_visible {
      display: block;
      position: absolute;
      border-bottom: 1px solid rgba(31, 32, 65, 0.5);
      border-left: 1px solid rgba(31, 32, 65, 0.5);
      border-right: 1px solid rgba(31, 32, 65, 0.5);
      height: 100px;
      z-index: 3;
      width: 100%;
      background-color: #fff;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-sizing: border-box; }

.edd-root,
.edd-root *,
.edd-root *::before,
.edd-root *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.edd-root {
  display: inline-block;
  position: relative;
  width: 180px;
  user-select: none;
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333; }

.edd-root-disabled {
  color: #ccc;
  cursor: not-allowed; }

.edd-root::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #45bce7;
  transition: transform 150ms ease-out;
  transform: scaleX(0); }

.edd-root.edd-root-focused::after,
.edd-root.edd-root-invalid::after {
  transform: scaleX(1); }

.edd-root.edd-root-invalid::after {
  background: #ff6969; }

.edd-head {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  transition: border-color 200ms; }

.edd-root:not(.edd-root-disabled) .edd-head:hover {
  border-bottom-color: #aaa; }

.edd-value {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 25px 8px 0; }

.edd-arrow {
  position: absolute;
  width: 14px;
  height: 10px;
  top: calc(50% - 5px);
  right: 3px;
  transition: transform 150ms;
  pointer-events: none;
  color: #666; }

.edd-root-disabled .edd-arrow {
  color: #ccc; }

.edd-arrow::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  top: 0;
  right: 2px;
  transform: rotate(45deg);
  transform-origin: 50% 25%; }

.edd-root-open .edd-arrow {
  transform: rotate(180deg); }

.edd-value,
.edd-option,
.edd-group-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.edd-root:not(.edd-root-disabled) .edd-value,
.edd-option {
  cursor: pointer; }

.edd-select {
  position: absolute;
  opacity: 0;
  width: 100%;
  left: -100%;
  top: 0; }

.edd-root-native .edd-select {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.edd-body {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #eee;
  border-top: 0;
  border-right: 0; }

.edd-root-open .edd-body {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
  transition: opacity 200ms, transform 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.edd-root-open-above .edd-body {
  bottom: 100%; }

.edd-root-open-below .edd-body {
  top: 100%; }

.edd-items-list {
  overflow: auto;
  max-height: 0;
  transition: max-height 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-overflow-scrolling: touch; }

.edd-items-list::-webkit-scrollbar {
  width: 12px; }

.edd-items-list::-webkit-scrollbar-track {
  background: #efefef; }

.edd-items-list::-webkit-scrollbar-thumb {
  background: #ccc; }

.edd-group-label {
  font-size: 13px;
  padding: 4px 8px 4px 0;
  color: #555;
  font-weight: 600; }

.edd-group-has-label {
  padding-left: 22px; }

.edd-option {
  position: relative;
  padding: 4px 8px 4px 22px; }

.edd-option-selected {
  font-weight: 400; }

.edd-option-selected::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 4px;
  border-bottom: 2px solid #4ac5f1;
  border-left: 2px solid #4ac5f1;
  left: 6px;
  top: calc(50% - 4px);
  transform: rotate(-45deg); }

.edd-option-focused:not(.edd-option-disabled) {
  color: #4ac5f1; }

.edd-option-disabled,
.edd-group-disabled .edd-option {
  cursor: default;
  color: #ccc; }

.edd-gradient-top,
.edd-gradient-bottom {
  content: '';
  position: absolute;
  left: 2px;
  right: 12px;
  height: 32px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 40%, white 60%, rgba(255, 255, 255, 0) 100%);
  background-repeat: repeat-x;
  background-size: 100% 200%;
  pointer-events: none;
  transition: opacity 100ms;
  opacity: 0; }

.edd-gradient-top {
  background-position: bottom;
  top: 0; }

.edd-gradient-bottom {
  background-position: top;
  bottom: 0; }

.edd-body-scrollable .edd-gradient-top,
.edd-body-scrollable .edd-gradient-bottom {
  opacity: 1; }

.edd-body-scrollable.edd-body-at-top .edd-gradient-top,
.edd-body-scrollable.edd-body-at-bottom .edd-gradient-bottom {
  opacity: 0; }

/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
.logo-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  /*  margin: 30px 0 0 30px; */ }
  .logo-icon_colored {
    width: 40px;
    height: 40px;
    position: unset; }

#left-path {
  fill: rgba(31, 32, 65, 0.25); }
  #left-path_colored {
    fill: url(#left-gradient); }

#right-path {
  fill: rgba(31, 32, 65, 0.25); }
  #right-path_colored {
    fill: url(#right-gradient); }

#circle-path {
  fill: rgba(31, 32, 65, 0.25); }
  #circle-path_colored {
    fill: url(#circle-gradient); }

/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
.arrow-icon {
  fill: #fff;
  position: absolute;
  top: 6px;
  right: 2px;
  padding: 7px;
  box-sizing: content-box;
  /*  cursor: pointer; */ }
  .arrow-icon_colored {
    fill: url(#paint0_linear); }
  .arrow-icon_noShaded {
    filter: none; }

html{box-sizing:border-box}html *{box-sizing:inherit}html *::after,html *::before{box-sizing:inherit}body{margin:0;position:inherit}.iqdropdown{-webkit-tap-highlight-color:transparent;box-sizing:border-box}.iqdropdown *{-webkit-tap-highlight-color:transparent;box-sizing:border-box}.iqdropdown *::after,.iqdropdown *::before{box-sizing:inherit}.iqdropdown *:not(input){-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.iqdropdown *:focus{outline:none}.iqdropdown h1,.iqdropdown h2,.iqdropdown h3,.iqdropdown h4,.iqdropdown h5,.iqdropdown h6{margin:0}.iqdropdown p{margin:0}.iqdropdown ul,.iqdropdown ol{list-style-type:none;margin:0;padding:0}.iqdropdown a{cursor:pointer}.iqdropdown button{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:none;border:0;cursor:pointer;margin:0;padding:0}.iqdropdown select::-ms-expand{display:none}.iqdropdown input::-ms-clear{display:none;height:0;width:0}.iqdropdown .icon-decrement{display:inline-block;height:15px;margin:auto;min-width:15px;position:relative;width:15px}.iqdropdown .icon-decrement::after{background:#002674;content:'';display:block;height:3px;position:absolute;top:6px;transition:-webkit-transform 0.25s ease-in-out;transition:transform 0.25s ease-in-out;transition:transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;width:15px}.iqdropdown .icon-decrement.icon-increment::before{background:#002674;content:'';display:block;height:3px;position:absolute;top:6px;-webkit-transform:rotate(90deg);transform:rotate(90deg);transition:-webkit-transform 0.25s ease-in-out;transition:transform 0.25s ease-in-out;transition:transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;width:15px}.iqdropdown .iqdropdown-menu{background-color:#FFFFFF;box-shadow:0 0 10px rgba(0,0,0,0.2);cursor:default;display:none;left:0;margin:-2px -1px -1px;position:absolute;right:0;top:50px;transition:all 0.2s ease-in-out;z-index:99999}.iqdropdown .iqdropdown-menu-option{align-items:center;display:flex;height:75px;padding:0 15px}.iqdropdown .iqdropdown-menu-option:last-child{border:0}.iqdropdown .iqdropdown-menu-close{color:#002674;font-family:"OpenSans",sans-serif;font-size:14px;font-weight:600;height:20px;margin:20px 0;padding:0 15px;text-align:right;width:100%}.iqdropdown.menu-open .iqdropdown-menu{display:block}@media only screen and (max-width: 640px){.iqdropdown .iqdropdown-menu.mobile-top-menu{top:-285px}}.iqdropdown-content{flex:1;padding-right:10px}.iqdropdown-item{color:#000;font-family:"OpenSans",sans-serif;font-size:17px;font-weight:400}.iqdropdown p.iqdropdown-description{color:#4A4A4A;font-family:"OpenSans",sans-serif;font-size:14px;font-weight:400;margin-top:5px}.iqdropdown .iqdropdown-item-controls{display:flex;height:45px}.iqdropdown .iqdropdown-item-controls .counter{color:#4A4A4A;font-family:"OpenSans",sans-serif;font-size:17px;font-weight:400;border-bottom:1px solid #E2E2E2;border-top:1px solid #E2E2E2;padding:11px 20px}.iqdropdown .iqdropdown-item-controls button{align-items:center;border:1px solid #E2E2E2;display:flex;height:45px;padding:0 20px;transition:all 0.2s ease-in-out}.iqdropdown .iqdropdown-item-controls button:hover{background-color:#eee}.iqdropdown .iqdropdown-item-controls button.button-decrement{border-bottom-left-radius:25px;border-top-left-radius:25px}.iqdropdown .iqdropdown-item-controls button.button-increment{border-bottom-right-radius:25px;border-top-right-radius:25px}.iqdropdown{align-items:center;border:1px solid #E2E2E2;border-radius:4px;cursor:pointer;display:flex;height:50px;justify-content:space-between;padding:0 15px;position:relative;width:100%}.iqdropdown .iqdropdown-selection{color:#4A4A4A;font-family:"OpenSans",sans-serif;font-size:17px;font-weight:400;flex:1;position:relative}.iqdropdown .iqdropdown-selection::after{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAMCAMAAABGBS09AAAAeFBMVEVMaXGVlZWRkZGRkZH///+UlJSRkZGQkJCRkZGZmZmRkZGRkZGSkpKRkZGVlZWQkJCdnZ2QkJCVlZWUlJSQkJCXl5eRkZGSkpKRkZGSkpKRkZGRkZGRkZGRkZGQkJCQkJCRkZGSkpKQkJCRkZGTk5OSkpKRkZGQkJAWlBl2AAAAJ3RSTlMAHcnXATdy+f4FzLJg5ySKDYgMJuYbSm61XtmUmcc1qkiq9fVHWVidqGmEAAAAhUlEQVR42o2O5w7CYAhF6e7XvfdwtN73f0OhatLUxnj+wMklAP2mHGpFX6h6KLn0QFcds6oDeq6rC6DJ91HeAHAf0k4jACdOPlESOwDG6WVmW7CFgblJELIULcubLJVh3SKydFmTZrQn8uXMdZYH/IiOXAxsGAudoOwbcLcVnaN5nkb/8gRapQtVGGewNQAAAABJRU5ErkJggg==);background-position:center;background-repeat:no-repeat;background-size:contain;content:'';display:inline-block;height:5px;width:12px;position:absolute;right:0;top:40%}.iqdropdown.menu-open{border-color:#002674}.iqdropdown.menu-open .iqdropdown-selection::after{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAMCAMAAABGBS09AAAAe1BMVEVMaXH///+ZmZmqqqqVlZWdnZ2Xl5eVlZWVlZWUlJSQkJCUlJSTk5ORkZGRkZGRkZGSkpKRkZGSkpKSkpKRkZGQkJCRkZGRkZGRkZGQkJCSkpKRkZGRkZGRkZGRkZGRkZGRkZGRkZGQkJCRkZGQkJCRkZGQkJCRkZGQkJAwdLQhAAAAKHRSTlMAAQUGDA0bHSQmNTdHSEpYWV1gbnKIi5SZqqqytcfJzNfZ5uf19fn+jEECQQAAAIhJREFUeNqNj+cSwkAIhLn0Znoz7dLD+z9hII6OJTruH5b9mDuAv2VKaX5BSjojLqlyxi49Huq9D2TVlG/VdaNSWy9Iy1YKOxfA7cismfZAIhopmWJxNPFEzRiJG3NaHs71+6ye8zOtwz7kbxobnmQ3vEBArkAcfHiTPyAWVI0yOTlNTUoDfmoHOBIMkOONx34AAAAASUVORK5CYII=)}
