@import "../../variables";

.arrow-icon {
  fill: $white;
  position: absolute;
  top: 6px;
  right: 2px;
  padding: 7px;
  box-sizing: content-box;
  /*  cursor: pointer; */
  &_colored {
    fill: url(#paint0_linear);
  }
  &_noShaded {
    filter: none;
  }
}
