include ../../date-select/date-select.pug

div(class="search-box search-box__wrap")
    h1(class="search-box__title") Найдём номера под ваши пожелания
    form(class="search-box__form")
        +date-select("Прибытие")
        +date-select("Выезд")
        div(class="guests-box")
            h3(class="guests-box__text") Гости
            select(class="guests-box__select") 
                option(class="guests-box__option") test
            button(class="search-box__button") 
                h3(class="button__text") Подобрать номер
