/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
.cards {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  background-color: #e5e5e5;
  position: relative;
  flex-direction: row; }
  .cards__wrap {
    padding: 150px 150px 150px 140px; }
  .cards__column > * {
    margin-bottom: 40px; }
  .cards__column > *:nth-last-child(1) {
    margin-bottom: 0px; }
  .cards > .logo-icon {
    top: 30px;
    left: 30px; }
  .cards__item {
    width: 320px;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2); }

/* * {
  outline: 1px solid gold;
} */

/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
.logo-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  /*  margin: 30px 0 0 30px; */ }
  .logo-icon_colored {
    width: 40px;
    height: 40px;
    position: unset; }

#left-path {
  fill: rgba(31, 32, 65, 0.25); }
  #left-path_colored {
    fill: url(#left-gradient); }

#right-path {
  fill: rgba(31, 32, 65, 0.25); }
  #right-path_colored {
    fill: url(#right-gradient); }

#circle-path {
  fill: rgba(31, 32, 65, 0.25); }
  #circle-path_colored {
    fill: url(#circle-gradient); }

/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
h3 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #1f2041;
  /* line-height: 15px; */
  margin: 0 0 5px 0;
  text-transform: uppercase; }

span.body-text {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);
  /* line-height: 24px; */ }

/* @font-face {
  font-family: MyriadPro-Regular;
  src: url(./fons/MyriadPro-Regular.svg) format("svg"),
    url(./fons/MyriadPro-Regular.ttf) format("ttf"),
    url(./fons/MyriadPro-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: Montserrat;
  src: url(images/Montserrat-Regular.svg) format("svg"), url(fonts/Montserrat-Regular.ttf) format("ttf"), url(fonts/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url(images/Montserrat-Bold.svg) format("svg"), url(fonts/Montserrat-Bold.ttf) format("ttf"), url(fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Quicksand;
  src: url(images/Quicksand-Regular.svg) format("svg"), url(fonts/Quicksand-Regular.ttf) format("ttf"), url(fonts/Quicksand-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Quicksand;
  src: url(images/Quicksand-Bold.svg) format("svg"), url(fonts/Quicksand-Bold.ttf) format("ttf"), url(fonts/Quicksand-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal; }

.title {
  display: block;
  color: #c50f0f;
  padding: 50px;
  font-family: "MyriadPro-Regular", "Arial", sans-serif;
  font-size: 50px; }

/* body {
  padding: 150px 140px;
}
 */
/* * {
  outline: 1px solid gold;
} */

/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 106px; }
  .logo-link__logo-icon {
    margin-right: 12.5px; }

.logo-title {
  fill: #1f2041; }

/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
h3 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #1f2041;
  /* line-height: 15px; */
  margin: 0 0 5px 0;
  text-transform: uppercase; }

span.body-text {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);
  /* line-height: 24px; */ }

.hidden {
  display: none; }

.acces {
  width: 380px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }
  .acces__signUp_hidden, .acces__signIn_hidden {
    display: none; }
  .acces__wrap {
    padding: 40px 30px 30px 30px; }
  .acces__title {
    margin: 0 0 20px 0;
    font-family: Quicksand, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #1f2041;
    line-height: 30px;
    letter-spacing: 1.2px; }
  .acces__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
    .acces__form .textField__wrap {
      margin-bottom: 10px; }
    .acces__form .radio-button__wrap {
      margin-bottom: 22.56px; }
    .acces__form .calendar_type_masked {
      margin-bottom: 22px; }
    .acces__form .authorization-data__wrap {
      margin-bottom: 7px; }
      .acces__form .authorization-data__wrap > :nth-last-child(1) {
        margin-bottom: 0; }
    .acces__form .toggle-label {
      margin-bottom: 22px; }
    .acces__form .button_type-arrow {
      margin-bottom: 30px; }
      .acces__form .button_type-arrow .button__text {
        text-indent: 0px;
        letter-spacing: 0.2px; }
    .acces__form .toggle-acces {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .acces__form_type_authorization .authorization-data__wrap {
      margin-bottom: 20px; }

/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
h3 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #1f2041;
  /* line-height: 15px; */
  margin: 0 0 5px 0;
  text-transform: uppercase; }

span.body-text {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);
  /* line-height: 24px; */ }

.searchbox {
  width: 380px;
  display: flex;
  background-color: #fff;
  /* flex-direction: column; */
  flex-wrap: wrap;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }
  .searchbox__wrap {
    padding: 40px 30px 30px 30px; }
  .searchbox__title {
    /*   width: 80%; */
    margin: 0 0 20px 0;
    font-family: Quicksand, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #1f2041;
    line-height: 30px;
    letter-spacing: 1.2px; }
  .searchbox__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .searchbox__form .calendar_type_range {
      margin-bottom: 23px; }
    .searchbox__form .select-items {
      margin-bottom: 32.44px; }

/* @function color-shade($color, $n) {
  @return rgba($color, $n);
} */
h3 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #1f2041;
  /* line-height: 15px; */
  margin: 0 0 5px 0;
  text-transform: uppercase; }

span.body-text {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);
  /* line-height: 24px; */ }

/* *{
outline: 1px solid gold;
}
 */
.button {
  text-decoration: none;
  border-radius: 22px;
  padding: 0px;
  /* padding: 14px 0 15px 0; */
  outline: none;
  border: 2px;
  cursor: pointer;
  background-color: #fff;
  height: 44px; }
  .button_size-xSmall {
    width: 87px; }
  .button_size-small {
    width: 99px; }
  .button_size-medium {
    width: 196px; }
  .button_size-big {
    width: 320px; }
  .button_colored {
    border: 1px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); }
    .button_colored:hover {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%); }
  .button_bordered {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); }
    .button_bordered:hover {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%); }
  .button_type-text {
    height: 15px; }
    .button_type-text > h3 {
      pointer-events: none;
      padding: 0; }
    .button_type-text:hover > h3 {
      color: rgba(31, 32, 65, 0.5); }
  .button_type-header {
    height: 34px; }
  .button_type-arrow {
    width: 320px;
    position: relative; }
    .button_type-arrow::after {
      content: "";
      /*    background: url("./images/arrow_forward.svg") no-repeat; */
      /*   background-image: url("./images/arrow.png"); */
      position: absolute;
      top: 16px;
      right: 18px;
      width: 24px;
      height: 24px;
      pointer-events: none; }
      .button_type-arrow::after_big {
        width: 320px; }
      .button_type-arrow::after_medium {
        width: 266px; }
      .button_type-arrow::after_small {
        width: 150px; }
  .button__text {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin: 0px;
    color: white;
    text-transform: uppercase;
    line-height: 15px;
    background-color: inherit;
    margin: 2px;
    border-radius: 28px;
    padding: 12px 0 13px 0;
    /*     letter-spacing: -0.3px;
    text-indent: -7px; */
    letter-spacing: 0px;
    text-indent: 0px; }
    .button__text_colored {
      color: #bc9cff;
      background-color: white; }
    .button__text_header {
      padding: 8px 18px 7px 18px; }

