include ../calendar/calendar
//- include ../select-items/select-guest
include ../button/button
include ../room-title/room-title


-
    const CALC=[{text:"9990 х 4 суток",amount:"39960"},
                {text:"Сбор за услуги: скидка 2179",amount:"0",tooltip:"Первая подсказка"},
                {text:"Сбор за дополнительные услуги",amount:"300",tooltip:"Вторая подсказка"}]

mixin booking({number,lux})
    div(class="booking booking__wrap")
        +room-title({isTitle:true,number:888,isLux:true,price:9990})
        form(class="booking__form")
            +calendar({type:"group-range_default",titleGroup:["прибытие","выезд"]})
            +select-guest({})
            div(class="calculation calculation__wrap")
                -  for (var i=0;i<CALC.length;i++)
                    div(class="calculation__row calculation__group")
                        span(class="calculation__desc calculation__text") #{CALC[i].text}
                        if CALC[i].tooltip
                            div(class="calculation__text calculation__tooltip" data-tooltip=`${CALC[i].tooltip}`)
                                span(class="calculation__text calculation__info" ) i
                        span(class="calculation__price calculation__text") #{CALC[i].amount}
            div(class="calculation__row calculation__row_type_total")
                span(class="calculation__desc calculation__text_type_total") Итого
                span(class="calculation__price calculation__text_type_total") 38081

            +button({isColored:true,size:"big",title:"Забронировать",isArrowButton:true})