mixin range-slider(text="Range Slider")
    p(class="slider-text")
        label(for="amount" class="slider-caption") #{text}
        input(type="text" id="amount" readonly class="slider-amount")
    div(id="slider-range")