@import "../../variables";
@import "../../mixin";

#slider-range {
    width: 266px;
  }
  
.slider {
  &-text {
    max-width: 266px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 22px 0;
  }
  &-amount {
    border: 0;
    color: #f31f;
    font-weight: bold;
    text-align: right;
    @include text($font, 12px, 400, $dark-50);
    line-height: 15px;
    &:focus {
      outline: none;
    }
    margin-top: -3px;
  }
  &-caption {
    text-transform: uppercase;
    @include h3-text();
    line-height: 15px;
  }
}


.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
  border: 1px solid $dark-25;
  border-radius: 3px;
  height: 6px;
}
.ui-corner-all {
  border: none;
  /*  border: 1px solid $dark-25; */
}

.ui-slider-handle.ui-corner-all {
  background: linear-gradient(180deg, $green 0%, $blue-light 100%);
  border: 2px solid $white;
  border-radius: 10px;
  top: -5px;
  &:focus {
    outline: none;
  }
}

.ui-slider-range.ui-corner-all.ui-widget-header {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: white;
  /*  opacity: 2; */
  height: 6px;
  top: -1px;
}
