@import "../../../variables";
@import "../../../mixin";

.roomDetails {
  width: 1440px;
  &__wrap {
    margin: 0 auto;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    padding: 485px 140px 63px 140px;
    background-image: url(../../../assets/img/roomDetails/roomDetails_1.png),
      url(../../../assets/img/roomDetails/roomDetails_2.png),
      url(../../../assets/img/roomDetails/roomDetails_3.png);
    background-repeat: no-repeat;
    background-position: left top, right top, right 243px;
    background-size: auto auto;
  }

  &__counter {
    @include text($font, 14px, 400, $dark-50);
    line-height: 14px;
    margin-top: 9px;
    letter-spacing: 0.3px;
  }
  &__vizualization {
    display: flex;
    & .vizualization__column:first-child {
      margin-right: 80px;
    }
  }

  &__column {
    margin-top: 70px;
    &_left {
      width: 712px;
    }
    /* &_right {
    } */
  }
  &__title {
    margin-bottom: 20px;
    line-height: 27px;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: space-between;
    &:nth-of-type(2) {
      margin-bottom: 18px;
      letter-spacing: 0.7px;
    }
  }
  & .icon-list {
    margin-bottom: 34px;
  }
  & .review-list {
    margin-bottom: 32px;
  }
  &__condition {
    display: flex;
    justify-content: space-between;
  }
  &__rules {
    & .roomDetails__title {
      margin-left: 22px;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
    }
  }
  &__cancellation {
    width: 349px;
    & .roomDetails__title {
      letter-spacing: 0.7px;
      margin-bottom: 15px;
    }
  }
  &__desc {
    @include body-text();
    line-height: 24px;
    margin: 0;
  }
}
