@import "../../variables";
@import "../../mixin";

#drop {
  fill: $dark-25;
}

.select-item {
  display: flex;
  flex-direction: column;

  &__wrap {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;

    &::after {
      content: "";
      border: 4px solid $dark-25;
      position: absolute;
      top: 16px;
      right: 18px;
      pointer-events: none;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      border: 4px solid white;
      position: absolute;
      top: 14px;
      right: 18px;
      pointer-events: none;
      transform: rotate(45deg);
      z-index: 2;
    }
  }

  &_big {
    width: 320px;
  }
  &_medium {
    width: 266px;
  }
  &_small {
    width: 150px;
  }

  &__title {
    @include text($font, 12px, 700, $dark);
    text-transform: uppercase;
    margin: 0 0 5.44px 0;
    letter-spacing: 0.5px;
  }
  &__select {
    height: 44px;
    border: 1px solid rgba(15, 15, 15, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    cursor: pointer;

    width: 100%;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    // Mozilla Hack
    text-indent: 0.01px;
    text-overflow: "";

    @include text($font, 14px, 400, $dark-75);
    letter-spacing: 0.6px;

    &:hover {
      outline: none;
    }
    &:focus {
      outline: none;
    }

    &_date {
      text-transform: uppercase;
    }

    &_guest {
      padding: 12.56px 13.44px 15px;
    }
  }
}
