include ../../../components/header/header.pug
include ../../../components/footer/footer.pug

-
     const header_text_login="войти"
     const header_text_register ="зарегистрироваться"
     const nav=[{name:"о нас",href:"#"},
               {name:"услуги",href:"#",expanded:true},
               {name:"вакансии",href:"#"},
               {name:"новости",href:"#"},
               {name:"соглашения",href:"#",expanded:true}] 
     const header_unLogged = {isLogged:false,header_text_login,header_text_register,nav}
     const widget_desc = "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
     const widget_items = [{title:"навигация",
                                   links:[{name:"о нас",href:"#"},
                                        {name:"новости",href:"#"},
                                        {name:"служба поддержки",href:"#"},
                                        {name:"услуги",href:"#"}]},
                                   {title:"о нас",
                                   links:[{name:"о сервисе",href:"#"},
                                        {name:"наша команда",href:"#"},
                                        {name:"вакансии",href:"#"},
                                        {name:"инвесторы",href:"#"}]},
                                   {title:"служба поддержки",
                                   links:[ {name:"соглашения",href:"#"},
                                             {name:"сообщества",href:"#"},
                                             {name:"связь с нами",href:"#"}]}]                              
     const subscribe={title:"Подписка",
                              text:"Получайте специальные предложения и новости сервиса",
                              placeholder:"Email"} 

     const copyright={text_copy:"Copyright ",
                         text:" 2018 Toxin отель. Все права зачищены."} 
                              

    
     


doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            headersAndFooters
    body 
    .landing-wrap
          +header(header_unLogged)
          //- пока для примерного представления
          div(class="image" height="830" width="1440")
          +footer({widget_desc,widget_items,subscribe,copyright}) 