include ../../../components/header/header-prod.pug
include ../../../components/footer/footer-prod.pug
include ../../../components/checkbox/checkbox


doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            landing
    body 
    .landing-wrap
        +header-prod()
          //- пока для примерного представления
        div(class="image" height="830" width="1440")
        +footer-prod() 