.landing-wrap {
  width: 1440px;
  margin: 0 auto;
}
//примерное представление
.image{
    width: 1440px;
    height: 830px;
    background-image: url(img/image.png);
    background-repeat: no-repeat;
    background-size: auto auto;

}