mixin radio-button()
    label(class="radio-label")
        span(class="radio-text") Mужчина
        input(type="radio" name="radio-1" class="radio")
    label(class="radio-label") 
        span(class="radio-text") Женщина
        input(type="radio" name="radio-1" class="radio")