//-- частный случай, всего два выбора "м" и "ж", но можно параметризировать под язык
mixin radio-button()
    input(type="radio" name="radio-1" id="radio-1" class="radio")
    label(for="radio-1") New York
    input(type="radio" name="radio-1" id="radio-2" class="radio")
    label(for="radio-2") Paris
    