@import "../../variables";
@import "../../mixin";

.calendar_type_range {
  display: flex;
}
.calendar__caption {
  margin: 0 0 6px 0;
  @include h3-text();
  text-transform: uppercase;
}

.flatpickr-alt,
.departure-range,
.departure-range_default {
  /*   width: 150px; */
  width: 100%;
  height: 44px;
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 13px;
  @include body-text();
  line-height: 18px;
  outline: none;
  cursor: pointer;
  text-transform: lowercase;
  padding-bottom: 5px;

  &::placeholder {
    text-transform: uppercase;
    color: $dark-75;
  }
}

.range {
  &__wrap {
    position: relative;
    &:first-child {
      margin-right: 20px;
    }
    &::after {
      background-image: none;
      content: "";
      border: 4px solid rgba(31, 32, 65, 0.5);
      position: absolute;
      top: 37px;
      right: 18px;
      pointer-events: none;
      transform: rotate(45deg);
      width: 0;
      height: 0;
    }
    &::before {
      content: "";
      border: 4px solid white;
      position: absolute;
      top: 34px;
      right: 18px;
      pointer-events: none;
      transform: rotate(45deg);
      z-index: 2;
    }
    &_filter.range__wrap {
      width: 266px;
      margin-right: 0;
      /*   &::after {
        top: 16px;
        right: 19px;
      }
      &::before {
        content: "";
        top: 13px;
        right: 19px;
      } */
    }
  }
}

.flatpickr-calendar {
  display: block;
  width: 320px;
  height: 369px;
  box-shadow: 0px 10px 20px $dark-5;
  border: 1px solid $dark-25;
  border-radius: 4px;
  padding: 20px;
  padding-left: 19px;
  padding-right: 19px;
  display: flex;
  flex-direction: column;
  &.static {
    top: 50px;
  }
  /* &.inline {
  } */
}

.flatpickr-months {
  /*  outline: 1px solid #000; */
  position: relative;
  height: 24px;
  margin-bottom: 30px;
}
.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  width: 24px;
  height: 24px;
}

.flatpickr-months {
  & .flatpickr-month {
    height: 24px;
  }
  & .flatpickr-prev-month {
    padding: 0;
    height: 24px;
    width: 24px;

    & svg {
      transform: rotate(180deg);
      top: -5px;
    }
  }
  & .flatpickr-next-month {
    padding: 0;
    height: 24px;
    width: 24px;

    & svg {
      top: 3px;
    }
  }
}

.flatpickr-current-month {
  @include h2-text();
  line-height: 24px;
  padding: 0;
  height: 24px;

  & span.cur-month:hover {
    background: none;
  }
}
.numInputWrapper input,
.numInputWrapper span {
  display: none;
}
.flatpickr-current-month input.cur-year {
  cursor: default;
}

.numInputWrapper:hover {
  background: none;
}
.flatpickr-current-month input.cur-year {
  @include h2-text();
  line-height: 24px;
}
.flatpickr-current-month span.cur-month {
  margin-left: 24px;
}

span.flatpickr-weekday {
  @include text($font, 12px, 700, $purple);
}

.flatpickr-day {
  @include text($font, 12px, 400, $dark-50);
  &.nextMonthDay,
  &.prevMonthDay {
    color: $dark-25;
  }
  &.today,
  &.today.inRange {
    color: $white;
    font-weight: 800;
    background: linear-gradient(180deg, $green 0%, $blue-light 100%);
    border-radius: 22px;
  }
  &.inRange {
    background: linear-gradient(180deg, $purple-25 0%, $blue-25 100%);
    box-shadow: none;

    &.nextMonthDay {
      background: linear-gradient(180deg, $purple-25 0%, $blue-25 100%);
    }
  }
}
.flatpickr-day.selected,
.flatpickr-day.selected.startRange,
.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.endRange,
.flatpickr-day.endRange.startRange {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  box-shadow: none;
}

.flatpickr-day {
  width: 42px;
  height: 40px;

  /*  box-shadow: -1px 0 0 #e6e6e6, 1px 0 0 #e6e6e6; */
  /*   box-shadow: -1px 0 0 #bc9cff, 1px 0 0 #8ba4f9;
  box-shadow: inset #ff0000 -150px 0 100px -100px; */
}

.rangeMode .flatpickr-day {
  margin-top: 0px;
}

.flatpickr-next-month .arrow-icon,
.flatpickr-prev-month .arrow-icon {
  padding: 0;
  right: 0px;
}

.flatpickr-calendar:before,
.flatpickr-calendar:after {
  content: none;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  fill: $purple;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: $dark-50;
}

.flatpickr-rContainer {
  width: 100%;
  /*  height: 240px; */
}
.flatpickr-weekdays {
  width: 100%;
}
.flatpickr-days {
  width: 100%;
}
.flatpickr-day {
  margin: 0;
  border: none;
  /*   width: 41px;
  height: 41px; */
  /* padding-left: 1px; */
}

.flatpickr-weekdays {
  height: 40px;
}

.dayContainer {
  width: 100%;
  max-width: unset;
  min-width: unset;
  display: flex;
  justify-content: center;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.flatpickr-day.startRange.startRange:not(:hover):after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 40px solid;
  border-right: 22px solid;
  border-image: linear-gradient(
    180deg,
    rgba(188, 156, 255, 0.25) 0%,
    rgba(139, 164, 249, 0.25) 100%
  );
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.flatpickr-day.endRange.endRange:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 40px solid;
  border-right: 22px solid;
  border-image: linear-gradient(
    180deg,
    rgba(188, 156, 255, 0.25) 0%,
    rgba(139, 164, 249, 0.25) 100%
  );
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.flatpickr-day.today.inRange {
  &:after {
    content: "";
    display: block;
    border-top: 40px solid;
    border-right: 39px solid;
    border-image: linear-gradient(
      180deg,
      rgba(188, 156, 255, 0.25) 0%,
      rgba(139, 164, 249, 0.25) 100%
    );
    position: absolute;
    top: 0;
    right: 0px;
    z-index: -1;
  }
}

.flatpickr-innerContainer {
  height: 240px;
}

.flatpickr-wrap {
  &__range,
  &__static,
  &__filter,
  &__masked {
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: flex-end;
  }
}
.flatpickr-button {
  @include h3-text();
  color: $purple;
  border: none;
  background-color: $white;
  line-height: 11px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
  outline: none;
  &:hover {
    color: $dark-50;
  }
}

.calendar_type_static > .flatpickr-alt {
  display: none;
}

.calendar_type_filter ~ .flatpickr-alt {
  width: 266px;
}

.flatpickr-wrapper {
  width: 100%;
}

.calendar_type_masked {
  width: 100%;
  & .flatpickr-alt::placeholder {
    color: $dark-25;
  }
}
