include ../../../components/textField/textField
include ../../../components/logo-icon/logo-icon
include ../../../components/select-items/select-items
include ../../../components/button/button
include ../../../components/arrow/arrow
include ../../../components/test-component/test-component
include ../../../components/range-slider/range-slider
include ../../../components/checkbox/checkbox
include ../../../components/radio-button/radio-button
include ../../../components/toggle/toggle
//- include ../../../components/dropdown/dropdown
include ../../../components/dropdown-item/dropdown-item
include ../../../components/dropdown-list/dropdown-list
include ../../../components/like-button/like-button
include ../../../components/room-card/room-card
include ../../../components/rate-button/rate-button
include ../../../components/calendar/calendar
include ../../../components/pagination/pagination
include ../../../components/icon-list/icon-list
include ../../../components/pie-chart/pie-chart
include ../../../components/review-list/review-list
include ../../../components/bullet-list/bullet-list
include ../../../components/doughnut-chart/doughnut-chart


-
    const textField_big = {size:"big",input_type:"text"}
    const textField_medium_arrow = {size:"medium",input_type:"text",effect:"arrow"}

    const btn_clear = {title:text_clear||"очистить",isTextButton:true,isTextColored:true,className:"button_clear" }
    const btn_apply = {title:text_apply||"применить",isTextButton:true,isTextColored:true,className:"button_accept"}

    const selectGuest={id:"guest",
                        text:"dropdown",    
                        size:"big",
                        items:[{text:"взрослые",mincount:"1"},{text:"дети"},{text:"младенцы"}],
                        title:"Сколько гостей",hasControlButtons:true,btn_clear:btn_clear,btn_apply:btn_apply,hasMenu:true}

    const roomAmenities={id:"amenities",
                        text:"dropdown",  
                        size:"medium",
                        items:[{text:"спальни"},{text:"кровати"},{text:"ванные комнаты"}],
                        title:"Удобства номера",hasMenu:true}
                        
    const selectDate={size:"small",type:"date"}
    //перенесу в страничку с выбором номера
    const addAmenities={items:[{caption:"завтрак"},{caption:"письменный стол"}],
                                key:"amenities"}

    const availability={items:[{caption:"Широкий коридор",desc:"Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см."},
                                {caption:"Помощник для инвалидов",desc:"На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера."}],
                                key:"availability",
                                isRich:true}

    //- const addAmenitiesList={items:[{caption:"завтрак"},{caption:"письменный стол"}],
    //-                            key:"amenitiesList"}

    //- const selectAddAmenities={id:"additional", 
    //-                     size:"medium",
    //-                     items:false,
    //-                     title:"Дополнительные удобства",hasControlButtons:false,hasMenu:false}

    //- const addAmenitiesTotal={select:selectAddAmenities,items:addAmenitiesList}    

    //- const checkboxList={text:"expandable checkbox list",type:"checkbox-list",item:addAmenitiesList}
                 





                               
                               
    

                                
    
doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title 
            FormElements
    body
        .container
            +logo-icon({isColored:false})  
            div(class="formElements formElements__wrap")
                div(class="formElements__column ")
                    div(class="formElements__item")
                        h3(class="formElements__text") Text Field
                        +textField(textField_big,"Email")
                    div(class="formElements__item")
                        +select-items(selectGuest)
                    div(class="formElements__item item__wrap")
                        +calendar({type:"masked",title:"masked text field"})     
                    div(class="formElements__item item__wrap")
                        +calendar({type:"group-range",titleGroup:["date Dropdown","date Dropdown"]}) 
                    div(class="formElements__item item__wrap")
                        +calendar({type:"filter-range",title:"filter date dropdown"})  
                    div(class="formElements__item")
                        h3(class="formElements__text") subscription text field
                        +textField(textField_medium_arrow,"Email")
                    div(class="formElements__item")
                        +select-items(roomAmenities)
                    div(class="formElements__item item__wrap")
                        +dropdown-list({}) 
                    div(class="formElements__item item__wrap")
                        +icon-list()           

                        
                   
                div(class="formElements__column")
                    div(class="formElements__item item__wrap")
                        +checkbox({})  
                    div(class="formElements__item item__wrap")
                        +radio-button()
                    div(class="formElements__item item__wrap")
                        +toggle() 
                    div(class="formElements__item item__wrap")
                        +like-button({item:"post_1",amount:12}) 
                        +like-button({item:"post_2",amount:12,isChecked:true}) 
                    div(class="formElements__item item__wrap")
                        +checkbox(availability)
                            //- div(class="formElements__item item__wrap")
                            //-     +calendar({type:"static-range"}) 

                   
                    

                div(class="formElements__column") 
                    div(class="formElements__item item__wrap")   
                        +range-slider({})  
                    div(class="formElements__item")
                        +button({isColored:true,size:"small",title:"click me",})  
                        +button({isBordered:true,size:"small",title:"click me",isTextColored:true})         
                        +button({size:"small",title:"click me",isTextButton:true,isTextColored:true}) 
                        +button({isColored:true,size:"big",title:"перейти к оплате",isArrowButton:true})  
                    div(class="formElements__item item__wrap")
                        +pagination()  
                    div(class="formElements__item item__wrap")
                        +pie-chart()
                        +doughnut-chart()   
                    div(class="formElements__item item__wrap")
                        +review-list()
                    div(class="formElements__item item__wrap")
                        h3(class="formElements__text text__bullet-list") bullet list
                        +bullet-list()                                                   