include ../../../components/textField/textField.pug
include ../../../components/logo-icon/logo-icon.pug

include ../../../components/select-items/select-items.pug

include ../../../components/select-date/select-date.pug
include ../../../components/select-period/select-period.pug
include ../../../components/button/button.pug
include ../../../components/arrow/arrow.pug
include ../../../components/test-component/test-component.pug
include ../../../components/range-slider/range-slider.pug
include ../../../components/checkbox/checkbox.pug
include ../../../components/radio-button/radio-button.pug
include ../../../components/toggle/toggle.pug

-
    const textField_big = {size:"big",input_type:"text"}
    const textField_medium_arrow = {size:"medium",input_type:"text",effect:"arrow"}
    const selectGuest={id:"guest", 
                        size:"big",
                        type:"guest",
                        items:[{text:"взрослые",mincount:"1"},{text:"дети"},{text:"младенцы"}],
                        title:"Сколько гостей"}

    const roomAmenities={id:"amenities",
                        size:"medium",
                        type:"amenities",
                        items:[{text:"спальни"},{text:"кровати"},{text:"ванные комнаты"}],
                        title:"Выберите удобства"}
    const selectDate={size:"small",type:"date"}
    //перенесу в страничку с выбором номера
    const additionalAmenities={items:[{caption:"завтрак"},{caption:"письменный стол"}],
                                key:"amenities"}
    const availability={items:[{caption:"Широкий коридор",desc:"Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см."},
                                {caption:"Помощник для инвалидов",desc:"На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера."}],
                                key:"availability",
                                isRich:true}
                                
    
doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title 
            FormElements
    body
        .container
            +logo-icon({isColored:false})  
            div(class="formElements formElements__wrap")
                div(class="formElements__column ")
                    div(class="formElements__item")
                        h3(class="formElements__text") Text Field
                        +textField(textField_big,"Email")

                    div(class="formElements__item")
                        h3(class="formElements__text") Select Guest
                        +select-items(selectGuest)

                    div(class="formElements__item")
                        h3(class="formElements__text") Select Amenities
                        +select-items(roomAmenities)    
                   
                    div(class="formElements__item")
                        // на самом деле тут будет select-item_masked
                        // с поведением выпадания календаря -?!
                        h3(class="formElements__text") masked text field
                        +textField(textField_big,"ДД.ММ.ГГГГ")
                         // h3(class="formElements__text") Dropdown
                    div(class="formElements__item")
                        h3(class="formElements__text") date Dropdown
                        +select-date(selectDate)

                    div(class="formElements__item")
                        h3(class="formElements__text") period Dropdown
                        +select-period()
                            
                        
                    //- div(class="formElements__item")
                    //-     +select-item("filter date dropdown","medium","19 авг - 23 авг","date")

                    div(class="formElements__item")
                        h3(class="formElements__text") subscription text field
                        +textField(textField_medium_arrow,"Email")
                    div(class="formElements__item")
                        +button({isColored:true,size:"small",title:"click me",})  
                        +button({isBordered:true,size:"small",title:"click me",isTextColored:true}) 
                        +button({size:"small",title:"click me",isTextButton:true,isTextColored:true}) 
                        +button({isColored:true,size:"big",title:"перейти к отплате",isArrowButton:true})    
                    div(class="formElements__item item__wrap")   
                        +range-slider({})  
                    div(class="formElements__item item__wrap")
                        +checkbox(additionalAmenities)
                    div(class="formElements__item item__wrap")
                        +checkbox({})
                    div(class="formElements__item item__wrap")
                        +checkbox(availability)
                    div(class="formElements__item item__wrap")
                        +radio-button()    
                    div(class="formElements__item item__wrap")
                        +toggle()       