include ../arrow/arrow

mixin select-date({size,type})
    input(id="datetimepicker" type="text") 
    div(class="test")
        +arrow({isColored:true})
    div(class="test_2")
        
        
        