include ./header.pug

-
    const text_login="войти"
    const text_register ="зарегистрироваться"
    const nav=[{name:"о нас",href:"#"},
               {name:"услуги",href:"#",expanded:true},
               {name:"вакансии",href:"#"},
               {name:"новости",href:"#"},
               {name:"соглашения",href:"#",expanded:true}] 
    
           

mixin header-prod()     
    +header({isLogged:false,text_login,text_register,nav})
     