include ../logo/logo.pug
include ../nav/nav.pug
include ../button/button

mixin header(option)
    -
        var headerClassName = ""
        var menuClassName = "menu"
        const USER_NAME="cosmin negotia"
        
  
    .header
        +logo()
        div(class = menuClassName)
            +nav({isDefault:true})
            if !option.isLogged
              +button({isBordered:true,title:"login",isTextColored:true,isHeaderButton:true})
              +button({isColored:true,title:"register",isHeaderButton:true})  
            else
              p(class="user-name") #{USER_NAME}