@import "../../variables";
@import "../../mixin";

.header {
  width: 100%;
  background-color: $white;
  padding: 15px 140px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $dark-5;
}

.menu {
  display: flex;
  align-items: center;
  & > button,nav {
    margin-right: 20px;
  }
  //выбрали третьего потомка menu
  & > :nth-child(3){
    margin-right: 0;
  }

}

.user-name {
  @include body-text();
  line-height: 32px;
  color: $dark-50;
  text-transform: capitalize;
  display: flex;
  justify-self: center;
  margin: auto 0;
  &:before {
    content: "";
    border-right: 1px solid $dark-50;
    margin: 0 30px 0 10px;
    height: 30px;
  }
}
