
include ../../../components/logo-icon/logo-icon.pug
include ../../../components/header/header.pug
include ../../../components/button/button.pug
include ../../../components/footer/footer.pug

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            headersAndFooters
    body 
            +logo-icon({isColored:false})
            div(class="headersAndFooters headersAndFooters__wrap")
                +header({isLogged:false}) 
                +header({isLogged:true})        
                +footer({isCreative:false})
                +footer({isCreative:true})