
include ../../../components/logo-icon/logo-icon.pug
include ../../../components/header/header.pug
include ../../../components/button/button.pug
include ../../../components/footer/footer.pug

-
    const nav = [{ITEM_NAME:"O нас",ITEM_HREF:"#"},
                {ITEM_NAME:"Услуги",ITEM_HREF:"#",ITEM_EXPANDED:true},
                {ITEM_NAME:"Вакансии",ITEM_HREF:"#"},
                {ITEM_NAME:"Новости",ITEM_HREF:"#"},
                {ITEM_NAME:"Соглашения",ITEM_HREF:"#",ITEM_EXPANDED:true}]
    const header_default_unLogged = {isLogged:false}
    const header_default_logged = {isLogged:true}

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            headersAndFooters
    body 
            +logo-icon({isColored:false})
            div(class="headersAndFooters headersAndFooters__wrap")
                +header(header_default_unLogged) 
                +header(header_default_logged)        
                +footer({isCreative:false})
                +footer({isCreative:true})