mixin checkbox()
    .checkbox-wrap
        //будем принимать массив строк для чекбоксов и перебирать в цикле фор
        label(for="checkbox-1") 
            p(class="checkbox-text") Можно курить
        input(type="checkbox" class="checkbox" name="checkbox-1" id="checkbox-1")
        label(for="checkbox-2") 
            p(class="checkbox-text") Можно с питомцами
        input(type="checkbox" class="checkbox" name="checkbox-2" id="checkbox-2")  
        label(for="checkbox-3") 
            p(class="checkbox-text") Можно с питомцами
        input(type="checkbox" class="checkbox" name="checkbox-2" id="checkbox-3")  
        label(for="checkbox-4") 
            p(class="checkbox-text") Можно с питомцами
        input(type="checkbox" class="checkbox" name="checkbox-2" id="checkbox-4")    