@import "../../variables";
@import "../../mixin";


.checkbox__title {
  text-transform: uppercase;
  @include h3-text();
  line-height: 15px;
}
.checkbox-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ui-checkboxradio-label.ui-corner-all.ui-button.ui-widget.my_checkbox {
  background-color: unset;
  display: flex;
  border: none;
  outline: none;
  box-shadow: none;
  &:focus,
  &:hover,
  &:active {
    outline: none;
    background-color: unset;
    background-image: none;
    border: none;
    box-shadow: none;
  }
}

.ui-checkboxradio-icon.ui-corner-all.ui-icon.ui-icon-background.ui-icon-blank.my_checkbox {
  background-image: none;
}

.ui-button.ui-state-active.my_checkbox {
  color: $dark;
  &:hover,
  &:focus {
    color: $dark;
  }
}
.ui-button.my_checkbox.checkbox-label {
  padding: 0 0 15px 0;
  &_rich {
    padding: 0 0 13px 0;
  }
  &:last-of-type {
    padding: 0;
  }
}
.ui-checkboxradio-label.my_checkbox .ui-icon-background {
  width: 20px;
  height: 20px;
  box-shadow: none;
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 4px;
  flex-shrink: 0;
  &.ui-state-checked {
    border: 1px solid $purple;
  }
}
.ui-checkboxradio-icon.ui-corner-all.ui-icon.ui-icon-background.my_checkbox:before {
  display: none;
  content: "";
  background: linear-gradient(180deg, $purple 0%, $blue 100%);
  width: 8px;
  height: 6px;
  transform: rotate(-45deg);
  position: relative;
  left: 5px;
  top: 5px;
}
.ui-checkboxradio-icon.ui-corner-all.ui-icon.ui-icon-background.my_checkbox:after {
  display: block;
  content: "";
  background: $white;

  width: 8px;
  height: 6px;
  transform: rotate(-45deg);
  position: relative;
  left: 5px;
  top: -4px;
}

.ui-corner-all.ui-icon.ui-icon-background.ui-icon-check.ui-state-checked.my_checkbox {
  background-image: none;
  &.ui-checkboxradio-icon:before {
    display: block;
  }
}

.ui-checkboxradio-icon-space.my_checkbox {
  padding-left: 10px;
}

.checkbox-text {
  width: 100%;
  margin: -1px 0 0 0;
  @include body-text();
  line-height: 18px;
  text-align: left;
  &::first-letter {
    text-transform: capitalize;
  }
}

.checkbox-caption {
  display: block;
  width: 100%;
  margin: -1px 0 0 0;
  @include body-text();
  color: $dark-50;
  line-height: 18px;
  text-align: left;
  &_bold {
    font-weight: 700;
    color: $dark-75;
    line-height: 17px;
    margin-bottom: 6px;
  }
}

.checkbox-desc {
  display: block;
  /*   width: 85%; */
  max-width: 236px;
  margin: 0;
  @include text($font, 12px, 400, $dark-50);
  line-height: 14px;
  text-align: left;
}
