mixin select-period()
    input(type='text' data-range="true" data-multiple-dates-separator="  " class="datepicker-here")
    div(class="dropdown-wrap" data-range="true")
        p(class="dropdown-text") Start dropdown
        input(type='text' class="date-dropdown date-dropdown_start")
        p(class="dropdown-text") End dropdown
        input(type='text' class="date-dropdown date-dropdown_end")
