include ../../../components/header-prod/header-prod
include ../../../components/footer/footer-prod
include ../../../components/select-items/select-guest
include ../../../components/select-items/select-amenities
include ../../../components/select-items/select-items
include ../../../components/range-slider/range-slider
include ../../../components/checkbox/checkbox
include ../../../components/dropdown-list/dropdown-list
include ../../../components/room-card/room-card
include ../../../components/calendar/calendar
include ../../../components/pagination/pagination


-
    //- const btn_clear = {title:text_clear||"очистить",isTextButton:true,isTextColored:true,className:"button_clear" }
    //- const btn_apply = {title:text_apply||"применить",isTextButton:true,isTextColored:true,className:"button_accept"} 
    const selectGuest={size:"medium"}
    const selectAmenities={text:"удобства номера",size:"medium"}

    const availability={items:[{caption:"Широкий коридор",desc:"Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см."},
                                {caption:"Помощник для инвалидов",desc:"На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера."}],
                                key:"availability",
                                isRich:true} 

    const roomCardList=[{number:888,isLux:true, price: 9990,rate:5,recall:145},
                        {number:840,isLux:false, price: 9900,rate:4,recall:65},
                        {number:980,isLux:true, price: 8500,rate:3,recall:35},
                        {number:856,isLux:false, price: 7300,rate:5,recall:19},
                        {number:740,isLux:false, price: 6000,rate:4,recall:44},
                        {number:982,isLux:false, price: 5800,rate:3,recall:56},
                        {number:678,isLux:false, price: 5500,rate:5,recall:45},
                        {number:450,isLux:false, price: 5300,rate:4,recall:39},
                        {number:350,isLux:false, price: 5000,rate:3,recall:77},
                        {number:666,isLux:false, price: 5000,rate:5,recall:25},
                        {number:444,isLux:false, price: 5000,rate:3,recall:15},
                        {number:352,isLux:false, price: 5000,rate:3,recall:55}]
  
    //- const addAmenitiesTotal={select:selectAddAmenities,items:addAmenitiesList}   

    const addAmenitiesList={items:[{caption:"завтрак"},
                            {caption:"письменный стол"},
                            {caption:"стул для кормления"},
                            {caption:"кроватка"},
                            {caption:"телевизор"},
                            {caption:"шампунь"},
                            {caption:"телевизор"},
                            ],
                            key:"addAmenitiesList"} 
    const checkboxList={text:"дополнительные удобства",type:"checkbox-list",item:addAmenitiesList}                                              


doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title search-room
    body 
    .search-room
        +header-prod()
        .search-room__wrap
            div(class="column-left search-room__column-left")
                +calendar({type:"filter-range", title:"даты пребывания в отеле"})
                +select-guest(selectGuest)
                +range-slider({title:"диапазон цены",text:"Стоимость за сутки пребывания в номере"})
                h3(class="checkbox__title") Checkbox Buttons
                +checkbox({})
                h3(class="checkbox-list__title") доступность
                +checkbox(availability)
                +select-amenities(selectAmenities)
                +dropdown-list(checkboxList)
                
            .column-right   
                h1(class="search-room__title") Номера, которые мы для вас подобрали
                div(class="search-room__items")
                    each val in roomCardList
                        +room-card(val)
                +pagination()        
        +footer-prod()