@import "../../variables";
@import "../../mixin";

.footer {
  width: 100%;
  background-color: $white;
  box-shadow: 0px 10px 20px $dark-5;

  &__item {
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    &_creative {
      display: flex;
      flex-direction: column;
    }
  }
  &__widget {
    padding-top: 100px;
    padding-bottom: 99px;
  }
  &__copyright {
    padding-top: 23px;
    padding-bottom: 20px;
    border-top: 1px solid $dark-5;
  }
  &__text {
    @include body-text();
    line-height: 24px;
    &::first-letter {
      text-transform: uppercase;
    }
    &_link {
      line-height: 19px;
    }
  }
  &__social {
    display: flex;
    & > :last-child {
      margin: 0;
    }
  }
  &_creative {
    padding: 100px 440px 110px 440px;
  }
}

.widget {
  & > :last-child {
    margin: 0;
  }

  & a,
  span,
  &__desc {
    margin-bottom: 20px;
  }

  &__logo,
  &__subscribe {
    width: 260px;
    flex-shrink: 0;
  }

  &__logo {
    margin-right: 40px;
  }
  &__desc {
    margin-top: 0;
  }
  &__title {
    @include h3-text();
    margin-top: 4px;
    text-transform: uppercase;
    display: block;
    letter-spacing: -0.3px;
  }

  &__wrap {
    display: flex;
    width: 100%;
  }
  &__group {
    display: flex;
    flex-direction: column;
    width: 200px;

    &_type-standart {
      &:nth-child(1) {
        flex-grow: 1;
      }
      &:nth-child(2) {
        flex-grow: 1.7;
      }
      &:nth-child(3) {
        flex-grow: 0.3;
      }
    }
  }
  &__link {
    text-decoration: none;
  }
}

.social {
  &__link {
    cursor: pointer;
    margin-right: 20px;
    display: inline-block;
  }
  &__icon {
    fill: url(#paint0_linear);
    &:hover {
      filter: brightness(120%);
    }
  }
}

.creative {
  & > .logo-link,
  .footer__social,
  .footer__text {
    margin: 0 auto;
    text-align: center;
  }
  & > :nth-child(1) {
    margin-bottom: 20px;
  }
  & > :nth-child(2) {
    margin-bottom: 25px;
  }
}
