mixin textField(type,placeholder,effect)
   -
     var textFieldClassName = "textField"
     textFieldClassName+= effect ?` textField_${effect}` : ""
   input(class=textFieldClassName type=`${type}` placeholder=`${placeholder}`)

