@import "../../variables";
@import "../../mixin";

.textField {
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 0 13px 15px;
  @include body-text();
  line-height: 18px;
  &_big {
    width: 320px;
  }
  &_medium {
    width: 266px;
  }
  &_small {
    width: 150px;
  }

  &::placeholder {
    color: $dark-25;
  }

  &:hover {
    @include block-hoverFocus();
  }
  &:focus {
    @include block-hoverFocus();
  }
}
