mixin textField(textField_size,input_type,placeholder,effect)
   -
     var textFieldClassName = `textField  textField_${textField_size}`  
     
   input(class=textFieldClassName type=`${input_type}` placeholder=`${placeholder}`)