@import "../../variables";

.logo-icon {
  width: 50px;
  height: 50px;

  //cерый логотип только у страниц UIKit
  //считаю такой подход оправданным
  //при абсолютном позиционированнии логотипа, проще будет задать паддинг внутренним контейнерам
  //или же задать параметр позиционирования!
  position: absolute;
  margin: 30px 0 0 30px;
  &_colored {
    position: unset;
    margin: 0;
  }
}

#left-path {
  fill: $dark-25;
  &_colored {
    fill: url(#left-gradient);
  }
}

#right-path {
  fill: $dark-25;
  &_colored {
    fill: url(#right-gradient);
  }
}

#circle-path {
    fill: $dark-25;
    &_colored {
      fill: url(#circle-gradient);
    }
  }
