@import "../../variables";
@import "../../mixin";

.toggle {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
  &:checked {
    & ~ .toggle-text:before {
      border: 1px solid $purple;
    }
    & ~ .toggle-text:after {
      background: linear-gradient(180deg, $purple 0%, $blue 100%);
      left: 24px;
    }
  }
}
.toggle-text {
  position: relative;
  padding: 0 0 0 51px;
  cursor: pointer;
  @include body-text();
  line-height: 24px;
}
.toggle-text:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0px;
  width: 40px;
  height: 20px;
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 10px;
  transition: 0.1s;
}
.toggle-text:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 7px;
  left: 4px;
  background: $dark-25;
  border-radius: 10px;
  transition: 0.1s;
}
