//-- частный случай = изменения текста
mixin toggle()
    label(for="toggle" class="toggle-label")
        input(type="checkbox" name="toggle" id="toggle" class="toggle")
        div(class="toggle-text") Получать спецпредложения
    
    
    