include ../../../components/searchbox/searchbox.pug
include ../../../components/logo-icon/logo-icon.pug
-
    const text="text"

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title 
            cards
    body
        div(class="cards cards__wrap")
            +logo-icon({isColored:false})
            +searchbox({})
       
           
