include ../../../components/logo-icon/logo-icon
include ../../../components/searchbox/searchbox
include ../../../components/registration/registration

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title 
            cards
    body
        div(class="cards cards__wrap")
            +logo-icon({isColored:false})
            .cards__column
                +searchbox({})
                +registration({isLogged:false,id:1})
            .cards__column    
                +registration({isLogged:true,id:2})
            .cards__column  
                +calendar({type:"static-range"})      