include ../../../components/logo-icon/logo-icon
include ../../../components/searchbox/searchbox
include ../../../components/acces/acces
include ../../../components/booking/booking
include ../../../components/calendar/calendar
include ../../../components/room-card/room-card

-
    const roomCardFirst={number:888,lux:true, price: 9990,rate:5,recall:145}     
    const roomCardSecond={number:840,lux:false, price: 9900,rate:4,recall:65} 

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title 
            cards
    body
        div(class="cards cards__wrap")
            +logo-icon({isColored:false})
            .cards__column
                +searchbox({})
                +acces({isLogged:false})
            .cards__column
                +booking({})    
                +acces({isLogged:true})
            .cards__column  
                +calendar({type:"static-range"})    
                div(class="formElements__item item__wrap")
                    +room-card(roomCardFirst)
                div(class="formElements__item item__wrap")
                    +room-card(roomCardSecond)
                    