include ../../../components/logo-icon/logo-icon
include ../../../components/searchbox/searchbox
include ../../../components/acces/acces
include ../../../components/booking/booking

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title 
            cards
    body
        div(class="cards cards__wrap")
            +logo-icon({isColored:false})
            .cards__column
                //- +searchbox({})
                //- +searchbox({})
                +acces({isLogged:false})
            .cards__column    
                +acces({isLogged:true})
            .cards__column  
                +calendar({type:"static-range"})      