@import "../../variables";
@import "../../mixin";
@import "@glidejs/glide/src/assets/sass/glide.core.scss";
@import "@glidejs/glide/src/assets/sass/glide.theme.scss";


*{
    outline:1px solid gray;
}

.glide{
    width: 270px;
    height: 151px;
    &:hover .glide__arrows{
        display: block;
    }
   
    &__slides{
        height: 100%;
        margin: 0;
    }
    &__slide{
        height: 100%;
        margin-right: 0;
    }

    &__arrows{
        //закоменнтирован для удобства работы
         display: none; 
    }
    &__arrow{
        border:none;
        height: 100%;
        width: 42px;
        border-radius: 4px 4px 0px 0px;
        box-shadow: none;
        &::before{
            content: "";
            position: absolute;
            border-bottom: 2px solid white;
            border-left: 2px solid white;
           
            top: 71px;
            right: 13px;
            pointer-events: none;
            transform: rotate(45deg);
            z-index: 2;
            width: 9px;
            color: white;
            height: 9px;        
        }
   

        &--left{
            left:0;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, 
            rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  
        }
        &--right{
            right:0;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
            top:0px;

        }
      

    }

    &__track{
        height: 100%;
    }

    &__bullets{
        bottom:15px;
        right: 15px;
        left:unset;
        transform:none;
        
    }
    &__bullet{
        width: 7.5px;
        height: 7.5px;
        box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
        background-color:inherit;
        margin: 0;
        margin-right: 3.75px;
        transition: none;
        border:1px solid $white;
        &:last-child{
            margin-right: 0px; 
        }
        &:hover{
            border:none;
            opacity: 0.9; 
        }
        &.glide__bullet--active{
        background-color: $white;
        }

    }

    &--swipeable{
        cursor: default;
    }

    &__img{
        width: 270px;
        height: 151px;
        border-radius: 4px 4px 0px 0px;
    }
}
.slider__slides{
    transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transform: translate3d(-462px, 0px, 0px);
}

.slider__frame{
    text-align: center;
    line-height: 150px;
    border-radius: 4px 4px 0px 0px;
    color: #fff;
    background: transparent;
    font-size: 1em;
    font-weight: 900;
    margin: 0;
}

