@import "./variables";
@import "./mixin";
/* @import "normalize.css"; */

/* @font-face {
  font-family: MyriadPro-Regular;
  src: url(../assets/fonts/MyriadPro-Regular.svg) format("svg"),
    url(../assets/fonts/MyriadPro-Regular.ttf) format("ttf"),
    url(../assets/fonts/MyriadPro-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Regular.svg) format("svg"),
    url(./assets/fonts/Montserrat-Regular.ttf) format("ttf"),
    url(./assets/fonts/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Bold.svg) format("svg"),
    url(./assets/fonts/Montserrat-Bold.ttf) format("ttf"),
    url(./assets/fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url(./assets/fonts/Quicksand-Regular.svg) format("svg"),
    url(./assets/fonts/Quicksand-Regular.ttf) format("ttf"),
    url(./assets/fonts/Quicksand-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url(./assets/fonts/Quicksand-Bold.svg) format("svg"),
    url(./assets/fonts/Quicksand-Bold.ttf) format("ttf"),
    url(./assets/fonts/Quicksand-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

.title {
  display: block;
  color: rgb(197, 15, 15);
  padding: 50px;
  font-family: "MyriadPro-Regular", "Arial", sans-serif;
  font-size: 50px;
}

//компромис для canvas
@font-face {
  font-family: Montserrat-bold;
  src: url(./assets/fonts/Montserrat-Bold.svg) format("svg"),
    url(./assets/fonts/Montserrat-Bold.ttf) format("ttf"),
    url(./assets/fonts/Montserrat-Bold.woff) format("woff");
  font-style: normal;
}

@font-face {
  font-family: Quicksand-bold;
  src: url(./assets/fonts/Quicksand-Bold.svg) format("svg"),
    url(./assets/fonts/Quicksand-Bold.ttf) format("ttf"),
    url(./assets/fonts/Quicksand-Bold.woff) format("woff");
  font-style: normal;
}

html {
  font-size: 12px;
  /* @media (max-width: 1959.98px) {
    font-size: 8px;
  }

  @media (max-width: 1439.98px) {
    font-size: 7px;
  }

  @media (max-width: 1199.98px) {
    font-size: 12px;
  }
  @media (max-width: 1023.98px) {
    font-size: 10px;
  }

  @media (max-width: 767.98px) {
    font-size: 6.5px;
  }

  @media (max-width: 424.98px) {
    font-size: 5px;
  }

  @media (max-width: 374.98px) {
    font-size: 4px;
  }

  @media (max-width: 319.98px) {
    font-size: 3px;
  } */
}

/* body {
  margin: 0;
} */

/* * {
  outline: 1px solid gold;
} */
