@import "./variables";
@import "./mixin";

/* @font-face {
  font-family: MyriadPro-Regular;
  src: url(./fons/MyriadPro-Regular.svg) format("svg"),
    url(./fons/MyriadPro-Regular.ttf) format("ttf"),
    url(./fons/MyriadPro-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: Montserrat;
  src: url(./fons/Montserrat-Regular.svg) format("svg"),
    url(./fons/Montserrat-Regular.ttf) format("ttf"),
    url(./fons/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(./fons/Montserrat-Bold.svg) format("svg"),
    url(./fons/Montserrat-Bold.ttf) format("ttf"),
    url(./fons/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url(./fons/Quicksand-Regular.svg) format("svg"),
    url(./fons/Quicksand-Regular.ttf) format("ttf"),
    url(./fons/Quicksand-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url(./fons/Quicksand-Bold.svg) format("svg"),
    url(./fons/Quicksand-Bold.ttf) format("ttf"),
    url(./fons/Quicksand-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

.title {
  display: block;
  color: rgb(197, 15, 15);
  padding: 50px;
  font-family: "MyriadPro-Regular", "Arial", sans-serif;
  font-size: 50px;
}



/* body {
  padding: 150px 140px;
}
 */
/* * {
  outline: 1px solid gold;
} */
