include ./components/item-mixin/item-mixin
doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title 
            webpackTemplate
    body
        p(class="title") Hello world!
        include ./components/block/block.pug
        +item("It`s example of pug-mixin")
        include ./components/searchbox/component-part/search.pug
