include ../../../components/header-prod/header-prod.pug
include ../../../components/footer/footer-prod.pug
include ../../../components/checkbox/checkbox
include ../../../components/acces/acces
include ../../../components/calendar/calendar

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title
            registration
    body 
        div(class="registration registration__wrap")
            +header-prod()
            section(class="registration__main")
            
                +acces({})
            +footer-prod() 