@import "../../../variables";
@import "../../../mixin";

.registration {
  /*    @media (max-width: 1919.98px) and(min-width: 1441px) {
    width: 100%;
  } */
  width: 1440px;

  /* @media (max-width: 1439.98px) {
    width: 100%;
  } */
  /* 

  @media (max-width: 1023.98px) {
  }

  @media (max-width: 767.98px) {
  }

  @media (max-width: 424.98px) {
  }

  @media (max-width: 374.98px) {
  }

  @media (max-width: 319.98px) {
  } */
  /*  width: 1440px; */
  &__wrap {
    margin: 0 auto;
  }
  &__main {
    /* width: 100%; */
    /* @media (max-width: 1439.98px) {
   
      width: 100%;
    } */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(../../../assets/img/registration/registration_background.png);
    background-repeat: no-repeat;
    /* background-position: center center; */
    /* background-attachment: fixed; */
    background-position: center 100%;
    background-size: cover;
    /*     background-size: auto; */
    background-color: rgba(17, 17, 17, 0.7);

    & > .acces {
      margin: 0 auto;
      &_type {
        &_signIn {
          margin-top: 173px;
          margin-bottom: 173px;
        }
        &_signUp {
          margin-top: 30px;
          margin-bottom: 27px;
        }
      }
    }
  }

  &__text {
    @include body-text();
    line-height: 23px;
    text-align: right;
    width: 24%;
    margin: 0px 135px 21px 0;
    align-self: flex-end;
    text-indent: 7px;
  }
}
