@import "../../variables";
@import "../../mixin";

.nav {
  width: 530px;
  @include body-text();
  display: flex;
  align-items: center;
  line-height: 17px;
  color: $dark-50;
  text-transform: capitalize;
  justify-content: center;
  flex-shrink: 0;
  /*  letter-spacing: -0.4px; */

  &__item {
    text-align: center;
    margin-right: 27px;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;

    &_default {
      margin-right: 26px;
    }
    //пока костыльное решение для дефолтной репрезентации
    &_expanded {
      margin-right: 17px;
      display: flex;
      flex-direction: column;
      position: relative;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
  &__link {
    display: block;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    &::after {
      @include body-text();
      display: block;
      content: attr(title);
      height: 0px;
      overflow: hidden;
      visibility: hidden;
      font-weight: 700;
      line-height: 17px;
      color: $dark-50;
    }
    &_bold {
      position: absolute;
      font-weight: 700;
      margin: 5px;
    }
    &:hover {
      font-weight: 700;
    }
  }
  &__expandable-select {
    /*   width: 24px;
    height: 17px; */
    position: relative;
    margin-right: 21px;
    &::after {
      content: "";
      border: 4px solid $dark-50;
      position: absolute;
      top: 4px;
      right: -15px;
      pointer-events: none;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      border: 4px solid white;
      position: absolute;
      top: 1px;
      right: -15px;
      pointer-events: none;
      transform: rotate(45deg);
      z-index: 2;
    }
  }
  &__expandable-options {
    display: none;
    padding: 13px 30px 10px 30px;
    position: absolute;
    border-radius: 4px;
    margin-top: 41px;
    background-color: #fff;
    box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.2);
    z-index: 3;
    &_open {
      display: block;
    }
  }
}

.expandable-options {
  &__item {
    list-style-type: none;
    margin-bottom: 15px;
  }

  &__link {
    text-decoration: none;
    color: $dark-50;
    &:hover {
      color: $purple;
    }
  }
}
