@import "../../variables";
@import "../../mixin";
/* * {
  outline: 1px solid gold;
} */
.nav{
    display: flex;
    align-items: center;
    &__item {
      margin-right: 20px;
      /*  min-width: 100px; */
    }
    &__link {
      display: block;
      cursor: pointer;
      @include body-text();
      line-height: 17px;
      color: $dark-50;
      text-transform: capitalize;
      /* margin: 1.3px; */
      box-sizing: border-box;
      &:hover {
        /*  color: $dark-75;
        font-weight: 700;
        margin: 0px; */
        /*  text-shadow: 1px 1px 0px $dark-75,0.3px 0.3px 0px $dark-75; */
        /* text-shadow: 0 0 0px $dark; */
        /*  text-shadow: 0 0 0px $dark, 0 0 0px $dark; */
        /* раскомментируйте строку ниже, если нужен более сильный эффект */
        /* text-shadow: 0 0 .9px #333, 0 0 .9px #333, 0 0 .9px #333; */
      }
    }
  }
 

